@model OnlineClassRegister.Models.Subject

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Subject</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.classes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.classes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.teachers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.teachers)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
