@model IEnumerable<OnlineClassRegister.Models.Subject>

@{
    ViewData["Title"] = "Index";
}

<h1>Subjects</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.classes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.teachers)
        </th>
        <th>
            Actions
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @foreach (var sc in item.classes)
                {
                    sc.name += " ";
                    @Html.DisplayFor(name => sc.name)
                }
            </td>
            <td>
                @foreach (var t in item.teachers)
                {
                    t.surname += " ";
                    @Html.DisplayFor(surname => t.surname)
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>